@media (max-width: 575.98px) {}


@media (max-width: 767.98px) {
    .reverse {
        flex-direction: column-reverse;
    }

}


@media (max-width: 991.98px) {
    h1 {
        font-size: 49px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    p,
    li,
    a,
    button,
    input {
        font-size: 15px;
    }

    .banner-course-sec {
        margin-top: -15px;
    }

    .top-row-course {
        display: none;
    }

    .graphic,
    .teacher-pic {
        display: none;
    }

    .teacher-slide img {
        width: 80px;
        height: 80px;
    }

    .teacher-slide h3 {
        font-size: 18px;
    }

    .about-img-slider {
        margin-top: 30px;
    }
}


@media (max-width: 1199.98px) {}


@media (max-width: 1399.98px) {}