@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Loader css is here  */
#loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    z-index: 999;
}

:root {
    --yellow: #FFC815;
    /* --yellow-gr: rgb(255,200,21) ; */
    --yellow-gr: linear-gradient(356deg, rgba(255, 200, 21, 1) 40%, rgba(250, 250, 117, 1) 92%);
    --dark-grey: #212121;
    --light-grey: #606060;
    --white: #fff;
    --shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.68);

}

html {
    /* font-size: 62.5%; */
    /* 1rem = 10px  */
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    font-family: 'Inter', sans-serif;
    color: var(--dark-grey);
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #000;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--dark-grey);
    /* text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-color: var(--green);
    text-decoration-style: solid; */
}

h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-grey);
}

p {
    color: var(--light-grey);
    font-weight: normal !important;
}

a {
    text-decoration: none;
}

p,
li,
a,
button,
input {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}

span {
    color: var(--yellow);
}

input:focus,
textarea:focus {
    outline: none;
}

/* Scrool bar style */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-grey);
}

/* custom classes is here  */

.dd-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-btn-1 {
    padding: 10px 30px;
    font-size: 18px;
    background-color: var(--yellow);
    /* border: 2px solid var(--yellow); */
    color: var(--white);
    transition: all 0.4s linear;

}

.cta-btn-1:hover {
    font-size: 18px;
    background-color: var(--white);
    /* border: 2px solid var(--yellow); */
    color: var(--yellow);
    transition: all 0.3s linear;
}

.cta-btn-2 {
    /* padding: 10px 10px; */
    padding: 10px 30px;
    font-size: 18px;
    /* border: 2px solid var(--dark-grey); */
    background-color: var(--dark-grey);
    color: var(--white);
    transition: all 0.4s linear;
}

.cta-btn-2:hover {
    /* border: 2px solid var(--yellow); */
    background-color: var(--white);
    color: var(--yellow);
    transition: all 0.4s linear;
}


/* -------------------------------- Header style start here  */
.hearder_wrapper {
    position: fixed;
    width: 100%;
    /* background-color: var(--white); */
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    z-index: 10;
    /* box-shadow: var(--shadow); */
}

.nav-link {
    color: var(--white);
}

.nav-link:hover {
    color: var(--yellow);
}

.active {
    color: var(--yellow);
}

.navbar-toggler {
    box-shadow: none !important;
}

.navbar-toggler ion-icon {
    font-size: 40px;
    color: var(--white);
    box-shadow: none;

}

.navbar-brand img {
    width: 88px;
}

.main-btn {
    margin-left: 10px;
}

/* -------------------------------- Banner section style start here  */
.banner-wraper {
    position: relative;
    /* padding: 30px 10px; */
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.banner-wraper p {
    color: var(--white);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-grey);
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.banner-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.banner-img {
    height: 100%;
    width: 100%;
}

.banner-course-sec {
    background-color: var(--dark-grey);
    border-radius: 10px;
    padding: 20px;
    color: var(--white);
    max-width: 1000px;
    margin: auto;
    margin-top: -80px;
    z-index: 1;

}

.banner-course-sec h2 {
    color: var(--white);
    font-size: 25px;
    text-transform: uppercase;
}

.banner-course-slider {
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; */
    /* padding: 20px; */
}

.banner-course-slide {
    background-color: var(--yellow);
    padding: 20px;
    width: 175px;
    border-radius: 10px;
    margin: 10px;
}

.banner-course-slide img {
    width: 60px;
}

/* -------------------------------- About section style start here  */
.about-img-slide img {
    -webkit-box-shadow: -18px 17px 0px -5px rgba(255, 200, 21, 1);
    -moz-box-shadow: -18px 17px 0px -5px rgba(255, 200, 21, 1);
    box-shadow: -18px 17px 0px -5px rgba(255, 200, 21, 1);
    border-radius: 10px;
    width: 500px;
}


/* -------------------------------- Misiion vison section style start here  */
.mv-box {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
}

.mv-icon {
    background-color: var(--yellow);
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mv-icon ion-icon {
    font-size: 30px;
    color: var(--white);
}

.mv h3 {
    font-weight: 700;

}

/* -------------------------------- Our Course section style start here  */

.course-box {
    width: 300px;
    box-shadow: var(--shadow);
    margin: 10px;
}

.course-box img {
    width: 100%;
    height: 150px;
}

.star-box span ion-icon {
    color: var(--light-grey);
    font-size: 30px;
}

.checked {
    color: gold !important;
}

.course-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    display: flex;
}

.price ion-icon {
    font-size: 25px;
    margin-right: 15px;
}

/* -------------------------------- teachers section style start here  */

.teacher-sec {
    border-radius: 10px;
    background-color: var(--dark-grey);
    color: var(--white);
    height: 300px;
    padding: 20px;

    /* background-image: url(../img/teacher-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; */

    position: relative;
}

.graphic {
    position: absolute;
    top: -77px;
    right: 112px;
    width: 260px;
}

.teacher-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
}

.teacher-1 {
    top: -19px;
    right: 75px;
}

.teacher-2 {
    top: 24px;
    right: 295px;
}

.teacher-3 {
    top: 99px;
    right: 183px;
}

.teacher-4 {
    bottom: 6px;
    right: 83px;
}



.teacher-slider {
    margin-top: -145px;
    /* margin-left: 25px; */
    max-width: 600px;
    padding: 10px;
}

.teacher-slide {
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    /* margin: 10px; */
}

.teacher-slide img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.teacher-img {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
}

.teacher-img .arrows {
    position: absolute;
    bottom: -11px;
    right: 11px;
    font-size: 30px;
    color: var(--white);
}

/* -------------------------------- Video section style start here  */
.video-slider {
    padding: 20px;
    /* background-color: #606060; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-slide {
    width: 380px;
    height: 230px;
    box-shadow: var(--shadow);
    margin: 10px;
}

.video-slide img {
    height: 100%;
    width: 100%;
}

/* -------------------------------- Review section style start here  */
.review-sec {
    background-color: var(--dark-grey);

    background-image: url(../img/teacher-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.review-slider {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-slide {
    max-width: 350px;
    margin: 10px;
}

.review-text {
    padding: 20px;
    background-color: var(--white);

}

.review-img {
    border-top-left-radius: 54px;
    margin-top: 25px;
    /* background-color: var(--dark-grey); */
    display: flex;
    align-items: center;
}

.review-slider img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;

}

/* -------------------------------- PLACEMENT  section style start here  */

.company-slider,
.laptop-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.company-slide {
    margin: 10px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 10px;
}

.company-slide img {
    max-width: 210px;
    height: 100px;
}

/* -------------------------------- Laotop section style start here  */

.laptop-slide {
    box-shadow: var(--shadow);
    margin: 10px;
    background-color: #FFC815;
}

.laptop-slide img {
    width: 100%;
    height: 180px;
}

/* -------------------------------- Contact section style start here  */
.contat-form {
    background-color: var(--yellow);
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
}

/* -------------------------------- Footer section style start here  */
.logo {
    width: 100px;
}

footer {
    background-color: var(--dark-grey);
    color: var(--white);
}

footer h3 {
    color: var(--light-grey);
}

footer a {
    color: var(--white);
    transition: all 0.5s linear;
}

footer a:hover {
    color: var(--yellow);
    margin-left: 10px;
    transition: all 0.5s linear;

}

footer li {
    margin-bottom: 15px;
}

#mylocation {
    width: 100%;
    height: 215px;
    border: 5px solid var(--white);
    border-radius: 5px;
}

.scroll-top {

    bottom: 30px;
    right: 20px;
    position: fixed;
}

.scroll-top i {
    font-size: 30px;
}

.social-link {
    display: flex;
    gap: 20px;
    align-items: center;

}


.social-link a {
    padding: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--yellow);
    background-color: var(--yellow);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link a:hover {
    color: var(--yellow);
    background-color: var(--white);
    border: 2px solid var(--white);
}

.social-link a i {
    font-size: 20px;
}